# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
.env/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de logs e caches
*.log
*.sqlite3
*.db
*.cache/

# Arquivos gerados pelo matplotlib
*.png
*.jpg
*.jpeg

# Arquivos Python específicos
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store
Thumbs.db
